
.card-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
}

    .card-icons i {
        cursor: pointer;
        margin-left: 5px;
    }

.card-hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card-hover-effect:hover {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.header-title {
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
