
@model Category

<!DOCTYPE html>
    <html>
    <head>
        <title>Create Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <main class="container my-5">
        <h1 class="mb-4">@(Model.Id != 0 ? "Update" : "Create New") Category</h1>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Category Name</label>
                <input type="text" class="form-control" asp-for="Name"  required>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Category Description</label>
                <textarea class="form-control" asp-for="Description"  rows="3" required></textarea>
            </div>
            <div class="mb-3">
                @if (Model.Id != 0)
                {
                    <button type="submit" class="btn btn-primary ">Update Category</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary ">Add Category</button>
                }
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </form>
        @section Scripts {
            @{
                <partial name="_ValidationScriptsPartial" />
            }
        }
    </main>
    </body>
    </html>
