@model AllProductsVM

<partial name="_Notifications" />
<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Seller/ProductIndexStyleSheet.css">
  
    <script>
    </script>
</head>
<body>
    <header class="bg-primary text-white text-center py-3 mb-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-md-0">
                    <h1 class="header-title display-4">Your Products</h1>
                </div>
                <div class="col-md-4 text-md-end">
                    <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary  add-product-btn card-hover-effect" style="color:black;font-weight:500; letter-spacing: 2px; text-shadow: 2px 2px 4px rgba(0,0,0,0.1);">
                        <i class="bi bi-plus-circle me-1 display"></i> Add New Product
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container mt-2">
        <div class="row mb-2">
            <div class="col-md-6 ">
                <input type="text" id="searchInput" class="form-control" placeholder="Search products">
            </div>

            <div class="col-md-3 ">
                <select id="category-filter" asp-items="@Model.CategoryList" class="form-select">
                    <option selected>-Select Category-</option>
                </select>
            </div>
            <div class="col-md-2 ">
                <select id="price-filter" class="form-select">
                    <option>-Sort by Price-</option>
                    <option value="low-to-high">Low to High</option>
                    <option value="high-to-low">High to Low</option>
                </select>
            </div>

            <div class="col-md-1">
                <button type="button" id="applyBtn" class="btn btn-primary btn-sm form-control">Apply</button>
                <button type="button" id="resetBtn" class="btn btn-primary btn-sm form-control" style="display:none;"><i class="bi bi-arrow-counterclockwise"></i>Clear</button>
            </div>
        </div>
    </div>
    <script type="text/template" id="product-template">
        <div class="col-lg-3 col-sm-6 p-3">
        <div class="card border-0 p-3 shadow border-top border-5 rounded card-hover-effect">
                <div class="card-icons ">
                    <a id="edit-product"> <i class="bi bi-pencil-fill text-primary"></i> </a>
                    <a id="delete-product"> <i class="bi bi-trash3-fill text-danger"></i> </a>
                </div>
            <div style="height: 200px; display: flex; justify-content: center; align-items: center; overflow: hidden;" class="align-middle">
                <img id="product-img" src="" class="card-img-top" alt="Img" />
            </div>
            <div class="card-body pb-0">
                <div class="pl-1">
                    <p id="product-name" class="card-title h5 text-dark opacity-75 text-uppercase text-center"></p>
                </div>
                    <span id="product-category" class="card-subtitle"></span>
                <div class="pl-1">
                    <p class="text-dark text-opacity-75  mb-0">
                        Price: <span id="product-price" class="text-dark text-opacity-75"></span>
                    </p>
                    <p class="text-dark text-opacity-75 mb-0">
                        Stock: <span id="product-stock" class="text-dark text-opacity-75 "></span>
                    </p>
                </div>
                </div>
            </div>
        </div>


    </script>

    <div id="product-container" class="row pb-4"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    const ProductList = @Html.Raw(Json.Serialize(Model.ProductList));
    </script>
    <script src="~/js/Seller/ProductIndexScript.js"></script>

</body>
</html>